@import '~@fluentui/react/dist/sass/References.scss';

.person1 {  
  --person-avatar-size: 56px;
  --person-line1-font-size: 14px;
  --person-line2-font-size: 13px;
  --person-line3-font-size: 13px;
}

.service_cat_vertical {
  display: flex;
  flex-direction: column;
}

.service_cat_horizontal {
  display: flex;
}

.lta {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/*
.lta__input {
  width: 100%;
  border-radius: 30px;
  padding: 5px 10px;
  border: none;
  outline: none;
  transition: 0.2s;
  border: 1px solid #555;
  margin: 2px;
}

.lta__input:focus {
  outline: none;
  border: none;
  border: 1px solid #3a3a3a;
}
*/

.lta__sort_box {
  width: 100%;
  margin: 2px 0;
  display: flex;
  justify-content: start;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}

.lta__sort {
  width: 170px;
  text-align: start;
  color: red;
  background-color: white;
  height: 30px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.lta__sort_buttons {
  display: flex;
  justify-content: start;
  transition: 0.4s;
  width: 80%;
  position: relative;
  z-index: 1;
}

.lta__sort_button {
  width: 19%;
  border: 0;
  outline: 0;
  background-color: white;
  cursor: pointer
}

.service_catalogue_results {
  width: 100%;
  display: grid;
  grid-gap: 5px;
}

    .services_box {
      display: flex;

    }

    .product_services_box {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .services_list {
      min-width: 20%;
      list-style-type: none;
      margin: 0;
      padding: 0;
      background-color: #919191;
      padding: 0 0 5px 3px;
      max-height: 800px;
      overflow-y: scroll;
    }

    .service_button {
      outline: none;
      text-align: left;
      height: 50px;
      width: 100%;
      border: none;
      border-radius: 5px 0 0 5px;
      background-color: #919191;
      color: white;
      cursor: pointer;
    }

    .service_button:hover {
      background-color: #b8b8b8;
    }

    .service_button_selected {
      background-color: white !important;
      color: black
    }

