@import '~@fluentui/react/dist/sass/References.scss';

.group1_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.group1_heading {
  font-size: 22px;
  border: 0;
  width: 100%;
  height: 50px;
  cursor: pointer;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid red;
  transition: 0.2s;
}

.group1_heading:hover {
  transform: scale(1.01)
}

.group1_icon {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  line-height: 40px;
  background-color: red;
  color: white;
  font-size: 25px;
}

.group2_wrapper {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 5px;
}

.group2_heading {
  font-size: 18px;
  border: 0;
  width: 100%;
  height: 25px;
  cursor: pointer;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.group2_heading:hover {
  transform: scale(1.01)
}

.group2_icon {
  width: 25px;
  height: 25px;
  border-radius: 25px;
  color: red;
  font-size: 20px;
}