@import '~@fluentui/react/dist/sass/References.scss';

.service_catalogue {
  position: relative;
}

.service_catalogue_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

    .service_catalogue_top_options {
      display: flex;
    }

        .service_catalogue_top_options button {
          background-color: white;
          border: none;
          outline: none;
          width: 40px;
          height: 40px;
          border-radius: 40px;
          cursor: pointer;
          color: white;
          background-color: red;
          margin-left: 10px;
          font-size: 18px;
          line-height: 40px;
          transition: 0.3s;
        }

        .service_catalogue_top_options button:hover {
          background-color: #555;
        }

.categories_tabs {
  max-width: 100%;
  position: relative;
  display: flex;
  justify-content: start;
  align-items: end;
  overflow-x: scroll;
  overflow-y: hidden;
  border-bottom: 1px solid red;
  flex-wrap: nowrap;
  cursor:  pointer !important;
}

    .categories_tabs::-webkit-scrollbar {
      height: 8px;
    }

    .categories_tabs::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    .categories_tabs::-webkit-scrollbar-thumb {
      background: #888;
      cursor: pointer;
    }

    .categories_tabs::-webkit-scrollbar-thumb:hover {
      background: #555;
    }

.category_button {
  outline: none;
  width: 20%;
  height: 80px;
  padding: 5px;
  text-wrap: wrap;
  border: none;
  background-color: white;
  cursor: pointer;
  flex-shrink: 0;
  font-size: 16px;
  transition: 0.3;
}

.category_button:hover {
  background: #555;
  color: white
}

.category_button_selected {
  background-color: red !important;
  color: white
}

    .services_box {
      display: flex
    }

    .services_list {
      width: 20%;
      list-style-type: none;
      margin: 0;
      padding: 0;
      background-color: grey;
    }

    .services_list li button {
      outline: none;
      text-align: left;
      height: 50px;
      width: 100%;
      border: none;
      cursor: pointer;
    }

    .service_button_selected {
      background-color: yellow !important;
    }

.service_content {
  width: 80%;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.service_content_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.service_content_header h3 {
  margin: 0;
  font-size: 20px;
}

.service_content_status_icon {
  font-size: 28px;
  color: green
}

.service_content_products {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

  .service_product {
    font-size: 12px;
    padding: 2px 5px;
    margin-right: 5px;
    border-radius: 14px;
    background-color: white;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
  }